parameters:
    doctrine:
        objectManagerLoader: build/phpstan/doctrine-orm-bootstrap.php
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
