@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";
@import 'material-icons/iconfont/material-icons.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $backgroundColor;
    margin-top: 5rem;
}

a {
    text-decoration: none;
    color: #fff !important;
}

li {
    list-style-type: none;
}

.material-icons {
    vertical-align: middle;
}

.row {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.btn {
    &.btn-primary {
        background-color: $primaryColor;
        border-color: $primaryColor;
        border-radius: 0;
    }
}

video {
    max-width: 100%;
}

header {
    background-color: $backgroundColor;

    .navbar-brand {
        color: $primaryColor;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: overline;
    }
}